.banner-site-content {
  background-image: url("../assets/banner.png");
  background-size: cover;
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  @media (max-width: 768px) {
    justify-content: center;
  }
}
.banner-site-card {
  color: white;
  z-index: 2;
  position: relative;
  background-color: #ff6600;
  width: 300px;
  height: 180px;
  margin: 195px 100px 100px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: #000 0px 0px 10px;
}
.banner-site-button-content {
  color: white;
  margin-top: 5px;
  width: 90%;
  height: 40px;
  border-radius: 12px;
  display: flex;
  border: 2px solid #0248a7;
  justify-content: center;
  align-items: center;
  color: #0248a7;
  cursor: pointer;
  background: linear-gradient(90deg, #68b800, #ff6600, #68b800);
  background-size: 200% auto;
  transition: 0.5s;
  animation: slideBackground 10s linear infinite;
  @media (max-width: 768px) {
    text-align: -webkit-center;
    font-size: small;
  }
  .banner-site-button-content:hover {
    background-position: right center; 
  }
  @keyframes slideBackground {
    0% {
      background-position: 0% center;
    }
    100% {
      background-position: 100% center;
    }
  }
}
